<title>OSS made in indonesia</title>
<link rel="shortcut icon" type="image/x-icon" href="/made-in-indonesia/favicon.ico">
<meta name="theme-color" content="#1b1331">
<style>
html {
  scroll-behavior: smooth;
}
body {
	background: #1b1331;
	color: #ffffff;
}
a {
    color: #1f4317;
    text-decoration: none;
    font-weight: 600;
}
p a {
    color: #ffffff;
    font-weight: 900;
}
h1#-made-in-indonesia {
    text-align: center;
    font-size: 3em;
    background: #281e48;
    box-shadow: inset -3px -3px 3px #100a1f;
    border: 1px dotted #2b100f;
    border-radius: 14px;
    color: red;
    text-shadow: 1px 1px white;
}
h1 a[href="https://anuuyu.github.io/made-in-indonesia/"] {
    font-size: 1rem;
    text-align: center;
    display: block;
    font-weight: normal;
    font-style: italic;
    color: #fff;
}
li a {
    color: #37b635;
    text-shadow: 1px 1px 5px #000;
}
li em a {
    color: #ffd300;
    text-shadow: 1px 1px 1px #1a1a01;
}
p[align="center"] {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
p[align="center"] a {
    font-size: 1.3rem;
    padding: 0.1em 1em;
    background: #281e48;
    box-shadow: inset -2px -2px 8px #100a1f;
    color: #ffffff;
    margin: 5px;
}
p a[href="#-made-in-indonesia"] {
    background: none;
    border: none;
    padding: 0;
    color: #fff;
    box-shadow: none;
}
.markdown-body blockquote {
    padding: 0 1em;
    color: #60518a;
    border-left: 0.25em solid #fa423b;
    font-size: 125%;
    text-align: center;
    text-shadow: 1px 1px 7px #100b1d;
}
.container-lg {
    max-width: 789px;
    margin: auto;
}
.markdown-body h2 {
    padding-bottom: 0.3em;
    font-size: 2.5em;
    border-bottom: 8px dotted #2f254a;
    text-align: center;
}
.markdown-body li {
    border: 1px dashed #4f3f7c;
    border-right: 1px dashed #4f3f7c;
    border-radius: 10px;
    box-shadow: inset -3px -3px 3px #100a1f;
    background: #281c48;
    padding: 1em;
    margin-bottom: 1em;
}
.markdown-body .highlight pre, .markdown-body pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: rgb(27 29 58);
    border-radius: 0;
}
.markdown-body code {
    background-color: rgb(29 21 54);
}
.anchorjs-link {
    display: none;
}
a.github-corner {
    position: fixed;
    top: 0;
    right: 0;
}
.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}
/* Style the header: fixed position (always stay at the top) */
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  right: 0;
  left: 0;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 5px;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 5px;
  background: #ff0000;
  width: 0%;
}
a[href="https://github.com/made-in-indonesia/made-in-indonesia"] {
    display: flex;
    justify-content: center;
}
</style>

<script>
// When the user scrolls the page, execute myFunction
window.onscroll = function() {myFunction()};

function myFunction() {
  var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
  var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
  var scrolled = (winScroll / height) * 100;
  document.getElementById("myBar").style.width = scrolled + "%";
}
</script>
