<title>OSS made in indonesia</title>
<link rel="shortcut icon" type="image/x-icon" href="/made-in-indonesia/favicon.ico">
<meta name="theme-color" content="#1b1331">
<style>
body {
	background: #c6c8c6;
}
a {
    color: #1f4317;
    text-decoration: none;
    font-weight: 600;
}
p a {
    color: #781a1a;
    font-weight: 900;
}
h1#-made-in-indonesia {
    text-align: center;
    font-size: 3em;
    border-bottom: 1rem dashed #b7b9b7;
}
h1 a[href="https://anuuyu.github.io/made-in-indonesia/"] {
    font-size: 1rem;
    text-align: center;
    display: block;
    font-weight: normal;
    font-style: italic;
    color: #fff;
}
li a {
    color: #1f4317;
    text-shadow: 1px 1px 1px #fff;
}
li em a {
    color: #ffffff;
    text-shadow: 1px 1px 1px #000;
}
.markdown-body blockquote {
    padding: 0 1em;
    color: #373c37;
    border-left: 0.25em solid #fa423b;
    font-size: 125%;
    text-align: center;
}
.container-lg {
    max-width: 789px;
}
.markdown-body h2 {
    padding-bottom: 0.3em;
    font-size: 2.5em;
    border-bottom: 8px dotted #b7b9b7;
    text-align: center;
}
.markdown-body li {
    padding-bottom: .7rem;
    border-bottom: 1px dashed #b0b6b0;
    border-right: 1px dashed #b0b6b0;
}
.anchorjs-link {
    display: none;
}
a.github-corner {
    position: fixed;
    top: 0;
    right: 0;
}
.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}
</style>
